[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "site/plugins/kirby3-many-to-many-field"]
	path = site/plugins/kirby3-many-to-many-field
	url = https://github.com/jonasholfeld/kirby3-many-to-many-field.git
[submodule "site/plugins/kirby-pagetable"]
	path = site/plugins/kirby-pagetable
	url = https://github.com/sylvainjule/kirby-pagetable.git
[submodule "site/plugins/kirby3-autoid"]
	path = site/plugins/kirby3-autoid
	url = https://github.com/bnomei/kirby3-autoid.git
[submodule "site/plugins/kirby-panelmodifications"]
	path = site/plugins/kirby-panelmodifications
	url = https://github.com/moritzebeling/kirby-panelmodifications.git
[submodule "site/plugins/kirby-cachebusting"]
	path = site/plugins/kirby-cachebusting
	url = https://github.com/moritzebeling/kirby-cachebusting.git
[submodule "site/plugins/kirby-v2-scssphp"]
	path = site/plugins/kirby-v2-scssphp
	url = https://github.com/bartvandebiezen/kirby-v2-scssphp
